h1 {
    color:#007;
    font-family: "Fugaz One"
}

h2 {
    color:#007;
    font-family: "Fugaz One"
}

h3 {
    color:#007;
    font-family: "Fugaz One"
}

body{
    background-color:#eef;
    font-family: "Ubuntu Condensed", Arial, sans-serif
}

html.intro{
    height:100%;
    margin:0;
}

body.intro{
    background-image:url("otaPics/~bg.png");
    height: 100%;
    margin: 0;
    background-size:100% auto
}

.intro-wrapper{
    min-height: 100%;
    background: rgba(255,255,255,0.333);
    color: #009; 
}


.voffset {margin-top:8px; }

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.nav>li>a {
    padding:5px 15px;
}

.sidebarmain {
    font-weight: bold;
    font-size: 125%;
}

.nav>ul{
    margin-bottom:25px;
}




