body {
background-image: url(otaPics/obackground.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}

.credits{
background-color:rgba(0,0,0,0.3);
}